# Node modules folder
node_modules/

# Environment variables file
.env

# Logs
*.log

# Database files (if applicable)
database/*.sqlite

# Build files (if any)
build/

# OS-specific files
.DS_Store
Thumbs.db
